<div>
    <h2>{{homeTitle}}</h2>
    <div>
        <h3>Prayer Request List</h3>
        <table mat-table [dataSource]="wlData" matSort>
            <ng-container matColumnDef="worklistId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let request">
                    <!-- Use this, if you want to show both the parent and child component show in the same page
                    <a (click) = "navigateToDetails({{request.worklistId}})" [routerLink]="['prayerRequest/', request.worklistId, /]"
                        routerLinkActive="router-link-active" >{{request.worklistId}}</a> -->
                        <a href="prayerRequest/{{request.worklistId}}/" (click) = "navigateToDetails(request.worklistId)">{{request.worklistId}}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Praying for (Who?) </th>
                <td mat-cell *matCellDef="let request"> {{request.name}} </td>
            </ng-container>
            <ng-container matColumnDef="shortRequest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prayer Request </th>
                <td mat-cell *matCellDef="let request"> {{request.shortRequest}} </td>
            </ng-container>
            <ng-container matColumnDef="dateRequested">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Reported </th>
                <td mat-cell *matCellDef="let request"> {{request.dateRequested}} </td>
            </ng-container>
            <ng-container matColumnDef="dateResolved">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Answered </th>
                <td mat-cell *matCellDef="let request"> {{request.dateResolved}} </td>
            </ng-container>
            <ng-container matColumnDef="requestStatus.status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let request"> {{request.requestStatus.status}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>
