<div>
    <h2>Login</h2>
    <div class="login">
        <tr>
            <td>
                {{userNameLabel}}
            </td>
            <td>
                <input [(ngModel)]="userName">
            </td>

        </tr>
    </div>
    <div class="login">
        <tr>
            <td>
                {{passwordLabel}}
            </td>
            <td>
                <input type="password" [(ngModel)]="password">
            </td>
        </tr>
    </div>
    <div  class="login">
        <button (click)="signIn()">{{signInLabel}}</button>
        <button (click)="reset()">{{resetLabel}}</button>
    </div>
    @if (isLabelVisible){
    <div id="error" class="error">
        Either User Name or Password is empty or wrong. Please check and try again!
    </div>
    }
</div>